<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
<div class="contentLayout">
<div class="content">


        {{ content }}
</div>

<div class="sidebar2">
<div class="sidebar2">
    <div class="Block">
    <div class="Block-body">
<div class="BlockHeader">
    <div class="header-tag-icon">
        <div class="BlockHeader-text">分类</div>
    </div>
    <div class="l"></div>
    <div class="r"><div></div></div>
</div>
<div class="BlockContent">
    <div class="BlockContent-tl"></div>
    <div class="BlockContent-tr"><div></div></div>
    <div class="BlockContent-bl"><div></div></div>
    <div class="BlockContent-br"><div></div></div>
    <div class="BlockContent-tc"><div></div></div>
    <div class="BlockContent-bc"><div></div></div>
    <div class="BlockContent-cl"><div></div></div>
    <div class="BlockContent-cr"><div></div></div>
    <div class="BlockContent-cc"></div>
    <div class="BlockContent-body">
<ul>
{% for category in site.categories %}
      <li class="cat-item cat-item-1"><a href="#">{{ category[0] }}</a>({{ category[1].size }})</li>
    {% endfor %}

</ul>
    </div>
</div>

    </div>
</div>


 <div class="Block">
    <div class="Block-body">
<div class="BlockHeader">
    <div class="header-tag-icon">
        <div class="BlockHeader-text">标签</div>
    </div>
    <div class="l"></div>
    <div class="r"><div></div></div>
</div>
<div class="BlockContent">
    <div class="BlockContent-tl"></div>
    <div class="BlockContent-tr"><div></div></div>
    <div class="BlockContent-bl"><div></div></div>
    <div class="BlockContent-br"><div></div></div>
    <div class="BlockContent-tc"><div></div></div>
    <div class="BlockContent-bc"><div></div></div>
    <div class="BlockContent-cl"><div></div></div>
    <div class="BlockContent-cr"><div></div></div>
    <div class="BlockContent-cc"></div>
    <div class="BlockContent-body">
<ul>
{% for tag in site.tags %}
      <li class="cat-item cat-item-1"><a href="#">{{ tag[0] }}</a>({{ tag[1].size }})</li>
    {% endfor %}

</ul>
    </div>
</div>

    </div>
</div>





<div class="Block">
    <div class="Block-body">
<div class="BlockHeader">
    <div class="header-tag-icon">
        <div class="BlockHeader-text">归档</div>
    </div>
    <div class="l"></div>
    <div class="r"><div></div></div>
</div>
<div class="BlockContent">
    <div class="BlockContent-tl"></div>
    <div class="BlockContent-tr"><div></div></div>
    <div class="BlockContent-bl"><div></div></div>
    <div class="BlockContent-br"><div></div></div>
    <div class="BlockContent-tc"><div></div></div>
    <div class="BlockContent-bc"><div></div></div>
    <div class="BlockContent-cl"><div></div></div>
    <div class="BlockContent-cr"><div></div></div>
    <div class="BlockContent-cc"></div>
    <div class="BlockContent-body">
      <ul>
        {% for post in site.posts reverse %}
            {% capture date %}{{ post.date }}{% endcapture %}
            {% capture this_year %}{{ date | date: "%Y" }}{% endcapture %}
            {% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}
            {% capture next_month %}{{ post.next.date | date: "%m" }}{% endcapture %}

            {% if this_month != next_month %}
                <li><a href="#">{{ post.date | date: '%Y-%m' }}</a></li>
            {% endif %}
        {% endfor %}

      </ul>

    </div>
</div>

    </div>
</div>

<div class="Block">
    <div class="Block-body">
<div class="BlockHeader">
    <div class="header-tag-icon">
        <div class="BlockHeader-text">
链接        </div>
    </div>
    <div class="l"></div>
    <div class="r"><div></div></div>
</div>
<div class="BlockContent">
    <div class="BlockContent-tl"></div>
    <div class="BlockContent-tr"><div></div></div>
    <div class="BlockContent-bl"><div></div></div>
    <div class="BlockContent-br"><div></div></div>
    <div class="BlockContent-tc"><div></div></div>
    <div class="BlockContent-bc"><div></div></div>
    <div class="BlockContent-cl"><div></div></div>
    <div class="BlockContent-cr"><div></div></div>
    <div class="BlockContent-cc"></div>
    <div class="BlockContent-body">
<ul>
<li><a href="http://holbrook.github.com" target="_blank">爸爸的博客</a></li>
      </ul>
    </div>
</div>

    </div>
</div>

</div>
</div>
</div>
<div class="cleared"></div>
<div id=footernav style='text-align:left;'>

</div><div class="cleared"></div>
{% include footer.html %}
</div>
</div>
<div>
    <p class="page-footer">Powered by <a rel=nofollow href="https://github.com/taylor-steven" onclick="return false;">Github</a> and
<a href="#" onclick="return false;">Jekyll</a> </p>
<style>


h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover{
}
.logo-text, .logo-text a{
}
.logo{
}


</style>
</div>
</div>

</body>
</html>

